
/*------------ Main Structure ------------*/

html {
    background: url("../images/background.png") repeat;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
    z-index: 1; /* To avoid content from going over navbar when scrolling */
}

section {
    width: 960px;
    padding-top: 150px;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 10px;
	color: #cccccc;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
    text-align: center;
}

/* Standard for all pages */
.about, .contact, .portfolio {
    position: relative;
    width: 910; /* 960 - 50 from padding */
    padding: 25px;
    margin-bottom: 150px;
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

/* Clearfix hack */
.about,.portfolio,.contact::after{
    content: "";
    display: block;
    clear: both;
}

/* Define h1 style */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Define h2 style */
h2 {
    font-size: 34px;
    font-weight: bold;
    color: #4aaaa5;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Define hr style */
hr {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
}

/*---------- Main Structure End ----------*/


/*------------ Navigation ------------*/

.navWrapper {
    width: 960px;
    margin: 0 auto;
}

.navLeft {
    float:left;
    background-color: #4aaaa5;
    padding: 24px 16px;
}



/* Navigation menu items */
.navWrapper ul li {
    display: inline-block;
}

/* Navigation separator | */
.navWrapper ul li+li {
	border-left: 1px solid #dddddd;
}
 
.navWrapper a {
    padding: 100% 8px 30px 8px;
    margin: 10px;
    text-align: right;
    text-decoration: none; /* remove underlining */
}

.navWrapper a:link {
    color: #777777;
}

.navWrapper a:visited {
    color: #777777;
}

.navWrapper a:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}

.navWrapper a.active {
    background-color: #53BFBA;
    color: #ffffff;
}

/*---------- Navigation End ----------*/


/*------------ About Page ------------*/

.about p {
    text-align: justify;
}

img.profile {
    float: left;
    padding: 10px 20px 20px 0px;
    width: 200px;
    height: 200px;
}

/*---------- About Page End ----------*/


/*------------ Portfolio Page ------------*/

.portfolio ul {
    width: 610px;
    margin: 0 auto;
    text-align: justify;
}

.portfolio li {
    position: relative;
    display: inline-block;
	width: 270px;
    height: 200px;
    border: 1px solid #dddddd;
    margin: 15px;
    padding: 0;
    transition: all .2s ease-in-out; /* Scale on Hover with Transition */
}

.portfolio p {
    position: absolute;
    width: 270px;
	bottom: 50px;
	text-align: center;
	background-color: #4aaaa5;
	padding: 10px 0px 10px 0px;
	color: #ffffff;
}

 /* Scale on Hover with Transition */
.portfolio li:hover {
    transform: scale(1.1);
}

/*---------- Portfolio Page End ----------*/


/*------------ Contact Page ------------*/

.form {
    width: 910px; /* 960 - 50 from padding */
    margin: 0 auto;
    padding: 0 auto;
}

#contactform {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

input[type=text], textarea {
    width: 880px; /* 960 - 50 -30 from padding */
    padding: 15px;
    border: 1px solid #dddddd;
    color: #cccccc;
    border-radius: 4px; /* rounded corners */
}

textarea {
    height: 200px;
}

#submit {
	background-color: #4aaaa5;
	color: #ffffff;
	border: none;
    padding: 15px 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow effect */
}

#submit:hover
{
  background-color: #53BFBA;
}

/*---------- Contact Page End ----------*/

/*------------ Media Queries ------------*/

@media only screen and (max-width: 980px) {
    .navWrapper {
        width: 780px;
        margin: 0 auto;
    }
    section {
        width: 780px;
        padding-top: 120px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    .navWrapper {
        width: 650px;
        margin: 0 auto;
    }
    section {
        width: 650px;
        padding-top: 72px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 640px) {
    .navWrapper {
        width: 450px;
        margin: 0 auto;
    }
    section {
        width: 450px;
        padding-top: 72px;
        margin: 0 auto;
    }
}
    

/*---------- Media Queries End ----------*/


.navRight {
    float: right;
    font-size: 18px;
}

/* 
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */

.topnav {
  overflow: hidden;
  float: left;
  padding-left: 41px;
  min-height: 72px;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 650px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav {
    overflow: hidden;
    min-width: 180px;
    float: left;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
  }
}
