
/*------------ Main Structure ------------*/

html {
    background: url("../images/background.png") repeat;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
}

section {
    width: 960px;
    padding-top: 150px;
    margin: 0 auto;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding-top: 20px; /* changed padding from original, did not like the look */
    padding-bottom: 10px;
	color: #cccccc;
	background-color: #666666;
	border-top: 6px solid #4aaaa5; /* changed porder from original, did not like the look */
    text-align: center;
}

/* Standard for all pages */
.about, .contact, .portfolio {
    position: relative;
    width: 910; /* 960 - 50 from padding */
    padding: 25px;
    margin-bottom: 150px;
    color: #777777;
    background-color: #ffffff;
    border-color: #dddddd;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}

/* Clearfix hack */
.about,.portfolio,.contact::after{
    content: "";
    display: block;
    clear: both;
}

/* Define h1 style */
h1 {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Define h2 style */
h2 {
    font-size: 34px;
    font-weight: bold;
    color: #4aaaa5;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Define hr style */
hr {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dddddd;
}

/*---------- Main Structure End ----------*/


/*------------ Navigation ------------*/

nav {
    position: fixed;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
    z-index: 1; /* To avoid content from going over navbar when scrolling */
}

.navWrapper {
    width: 960px;
    margin: 0 auto;
}

.navLeft {
    float:left;
    background-color: #4aaaa5;
    padding: 24px 15px;
    margin: 0;
}

.navRight {
    float: right;
    font-size: 14px;
}

/* Navigation menu items */
.navWrapper ul li {
    display: inline-block;
}

/* Navigation separator | */
.navWrapper ul li+li {
	border-left: 1px solid #dddddd;
}
 
.navWrapper a {
    padding: 100% 8px 30px 8px;
    margin: 10px;
    text-align: right;
    text-decoration: none; /* remove underlining */
}

.navWrapper a:link {
    color: #777777;
}

.navWrapper a:visited {
    color: #777777;
}

.navWrapper a:hover {
    background-color: #ABCCCB;
    color: #ffffff;
}

.navWrapper a.active {
    background-color: #809998;
    color: #ffffff;
}

/*---------- Navigation End ----------*/


 /*------------ Hamburger Nav ------------*/

.topnav {
  overflow: hidden;
  padding-left: 0px;
  min-height: 72px;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 28px 16px;
  margin: 0;
}

/*Hamburger color */
.topnav a:hover {
  background-color: #ABCCCB;
  color: #000000;
}


.topnav .icon {
  display: none;
}

/*---------- Hamburger Nav End ----------*/


/*------------ About Page ------------*/

.about p {
    text-align: justify;
}

img.profile {
    float: left;
    padding: 10px 20px 20px 0px;
    width: 200px;
    height: 200px;
}

/*---------- About Page End ----------*/


/*------------ Portfolio Page ------------*/

.portfolio ul {
    width: 610px;
    margin: 0 auto;
    text-align: justify;
}

.portfolio li {
    position: relative;
    display: inline-block;
	width: 270px;
    height: 200px;
    border: 1px solid #dddddd;
    margin: 15px auto;
    padding: 0;
    transition: all .2s ease-in-out; /* Scale on Hover with Transition */
}

.portfolio p {
    position: absolute;
    width: 270px;
	bottom: 50px;
	text-align: center;
	background-color: #4aaaa5;
	padding: 10px 0px 10px 0px;
	color: #ffffff;
}

 /* Scale on Hover with Transition */
.portfolio li:hover {
    transform: scale(1.1);
}

/*---------- Portfolio Page End ----------*/


/*------------ Contact Page ------------*/

.form {
    width: 910px; /* 960 - 50 from padding */
    margin: 0 auto;
    padding: 0 auto;
}

#contactform {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

input[type=text], textarea {
    width: 880px; /* 960 - 50 -30 from padding */
    padding: 15px;
    border: 1px solid #dddddd;
    color: #cccccc;
    border-radius: 4px; /* rounded corners */
}

textarea {
    height: 200px;
}

#submit {
	background-color: #809998;
	color: #ffffff;
	border: none;
    padding: 15px 24px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow effect */
}

#submit:hover
{
  background-color: #ABCCCB;
}

/*---------- Contact Page End ----------*/


/*------------ Media Queries ------------*/

@media only screen and (max-width: 980px) {
    
    .navWrapper {
        width: 750px;
        margin: 0 auto;
    }

    section {
        width: 750px;
        padding-top: 120px;
        margin: 0 auto;
    }

    .portfolio ul {
        width: 580px;
        margin: 0 auto;
        text-align: justify;
    }

    .form {
        width: 700px; /* 750 - 50 from padding */
    }

    input[type=text], textarea {
        width: 670px; /* 750 - 50 -30 from padding */
    }

}

@media only screen and (max-width: 768px) {
    
    html {
        background: #ffffff;
    }
/* 
    .about, .contact, .portfolio {
        margin-bottom: 60px;
    } */

    .navWrapper {
        width: 620px;
        margin: 0 auto;
    }

    section {
        width: 620px;
        /* padding-top: 72px; */
        margin: 0 auto;
    }

    .portfolio ul {
        width: 480px;
        margin: 0 auto;
        text-align: justify;
    }

    .portfolio li {
        display: block;
    }

    .form {
        width: 570px; /* 620 - 50 from padding */
    }

    input[type=text], textarea {
        width: 540px; /* 650 - 50 -30 from padding */
    }
    
}

@media only screen and (max-width: 640px) {
    
    html {
        background: #ffffff;
    }

    .about, .contact, .portfolio {
        margin-bottom: 60px;
    }

    /* Below was requested, but with Hamburger menu not needed */
    nav {
        position: sticky;
        width: 355px;
        margin: 0 auto;
    }

    .navLeft {
        width: 100%;
        padding: 24px 0;
        text-align: center;
    }
    
    .navRight {
        position: absolute;
        width: 100%;
        
        text-align: right;
    }
    .navWrapper {
        width: 100%;
        margin: 0 auto;
    }

    section {
        width: 100%;
        padding-top: 0px;
        margin: 0 auto;
        background-color: #ffffff;
    }

    footer {
        position: static;
    }

    .portfolio ul {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        text-align: justify;
        background-color: #ffffff;
    }

    .form {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    input[type=text], textarea {
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    /* Hamburger Nav */
    .topnav a {
        display: none;
        color: #dddddd;
        font-size: 16px;
    }

    .topnav a.icon {
        float: right;
        text-align: right;
        display: block;
        width: 100%;
        background-color: transparent;
    }
  
    .topnav.responsive {
        position: relative;
        padding-top: 73px;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        background-color: transparent;
    }
    

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        color: #dddddd;
        background-color:rgba(65, 65, 65, 0.6);
        border-bottom: 2px solid #dddddd;
    }

    .topnav.responsive a:hover {
        color: #CCAE1D;
        background-color:rgba(0, 0, 0, 0.6);
    }

    .topnav.responsive a.active {
        color: #0AE5DF;
        background-color:rgba(0, 0, 0, 0.8);
    }

    .topnav {
        /* overflow: hidden; */
        /* min-width: 182px; */
        min-width: 100%;
        float: right;
        background-color: transparent;
        /* border-bottom: 1px solid #dddddd;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd; */
        
    }
    /* Hamburger Nav End */

}

/*---------- Media Queries End ----------*/
